<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create-flight</title>
</head>
<body>
    <form action="/api/admin/create-flight" method="post">
        <label>Total Seats</label><input type="digit" name="totalSeats"><br>
        <label>FROM</label><input type="text" name="flightSource"><br>
        <label>To</label><input type="text" name="flightDestination"><br>
        <label>Departure</label><input type="Date" name = "time"><br>
        <input type="submit">
    </form>
</body>
</html>