<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
</head>
<body>
    <form action="/api/user/search" method="post">
        <label>FROM</label><input type="text" name="flightSource"><br>
        <label>TO</label><input type="text" name="flightDestination"><br>
        <label>Date</label><input type="date" name="time"><br>
        <input type="submit">
    </form>
</body>
</html>